/* General style */
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Main style */
main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 32px;
    padding: 32px;

}
/* Main header style */
.left-header{
    margin-bottom: 20px;
}
p{
    text-align: justify;
}
.count-box{
    background-image: linear-gradient( white, teal, white);
    margin: 32px auto;
    padding: 32px;
    border-radius: 10px;
    width: 400px;
    border: 0.7px solid teal;
}
.form-group{
    margin: 20px;
    font-weight: bold;
}
input[type="radio"]{
    margin-top: 20px;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    border-style: none;
    margin: 10px auto;
}
.button{
    margin-left: 25%;
}
.btn-count{
    border: none;
    padding: 8px;
    width: 30%;
    margin-top: 8px;
    background-color: teal;
    color: white;
    border-radius: 8px;
}
.btn-count:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
.btn-count:active{
    background-color: teal;
    color: white;
}
.btn-reset{
    border: none;
    padding: 8px;
    width: 30%;
    margin-top: 8px;
    background-color: white;
    color: teal;
    border-radius: 8px;
}
.btn-reset:hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
}
.btn-reset:active{
    background-color: white;
    color: teal;
}
ol{
    margin:20px 0 20px 20px;
}
/* right section */
.right-header{
    margin-bottom: 20px;
}
.result-box{
    background-image: linear-gradient( teal, white);
    margin: 32px auto;
    padding: 32px;
    border-radius: 10px;
    width: 400px;
    border: 0.7px solid teal;
}
.result-point{
    width: 100px;
    height: 100px;
    padding: 15px;
    font-size: 100px;
    background: none;
    border: 1px solid;
    margin: 20px;
}
.btn-download{
    border: none;
    padding: 8px;
    border-radius: 10px;
    background-color: teal;
    color: white;
    font-weight: bold;
    margin:20px auto;


}
.btn-consul{
    border: none;
    padding: 8px;
    font-weight: bold;
    margin: 32px auto;
    display: flex;
    
}
.consul-app, .consul-register{
    border: none;
    padding: 8px;
    margin-right: 8px;
    font-weight: bold;
    background-color: teal;
    color: white;
    border-radius: 10px;

}
.consul-app:hover, .consul-register:hover{
    background-color: black;
    color: white;
    padding: 10px;
}
.risk-box{
    background-color: gainsboro;
    margin: 32px auto;
    padding: 32px;
    border-radius: 10px;
    width: 500px;
    border: 0.7px solid teal;
}

/* footer style */
footer{
    text-align: center;
}