/* General style */
*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Main style */
main{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 30px;

}
/* Main header style */
header{
    margin-bottom: 20px;
    text-align: center;
    padding: 20px;
    background-color: teal;
    color: white;
}
p{
    text-align: justify;
}
.count-box{
    background-image: linear-gradient( white, teal, white);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    border: 1px solid teal;
}
.form-group{
    margin: 20px;
    font-weight: bold;
}
input[type="radio"]{
    margin-top: 20px;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px auto;
}
.button{
    text-align: center;
}
.btn-count{
    border: none;
    padding: 8px;
    margin-top: 8px;
    background-color: teal;
    color: white;
    border-radius: 8px;
    box-sizing: border-box;
}
.btn-count:hover{
    background-color: black;
    color: white;
    font-weight: bold;
}
.btn-count:active{
    background-color: teal;
    color: white;
}
.btn-reset{
    border: none;
    padding: 8px;
    margin-top: 8px;
    background-color: white;
    color: teal;
    border-radius: 8px;
    box-sizing: border-box;
}
.btn-reset:hover{
    background-color: orangered;
    color: white;
    font-weight: bold;
}
.btn-reset:active{
    background-color: white;
    color: teal;
}
ol{
    margin:20px 0 20px 20px;
}
/* right section */
.result-box{
    background-color: gainsboro;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 10px;
    margin: 20px;
    text-align: center;
}
.result{
    font-size: 80px;
    margin: 10px auto;
}
.btn-download{
    padding: 10px;
    background-color: teal;
    color: white;
    border-radius: 10px;
    border: none;
}
.btn-consul{
    border: none;
    padding: 8px;
    font-weight: bold;
    margin: 20px auto;
    text-align: center;
}
.consul-app, .consul-register{
    border: none;
    padding: 8px;
    margin-right: 8px;
    font-weight: bold;
    background-color: teal;
    color: white;
    border-radius: 10px;

}
.consul-app:hover, .consul-register:hover{
    background-color: black;
    color: white;
}
.risk-box{
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
}
.risk{
    margin: 20px;
}
.btn-consul2{
    margin-top: 20px;
}

/* footer style */
footer{
    text-align: center;
    background-color: black;
    color: white;
}
/* Responsive page */
@media only screen and (max-width: 480px) {
    main {
        flex-direction: column;
    }